@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css or your CSS file */
body {
    overflow: overlay;
}

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-track {
    background: transparent;
}

body::-webkit-scrollbar-thumb {
    background: lightgray;
    border-radius: 5px;
    width: 6px;
    height: 30px;
}